<%= form_with model: @blog_post do |form|%>
  <% if form.object.errors.any? %>
    <div>
      <ul>
        <% form.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %><br />
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :published_at %><br />
    <%= form.datetime_select :published_at, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.button %>
  </div>
<% end %>
